//
   Created by igorgo on 17.04.2016.
#pupils-container.container-fluid.page-container.hidden
    .row
        .jumbotron
            h1 Наши ученики
            p Список учеников и их родителей
    .row
        .panel.panel-default.col-lg-6
            .panel-body
                table(id="pupils-table", data-toggle="table", class="col-lg-6")
                    thead
                        tr
                            th(data-field="id", data-halign="center") №
                            th(data-field="fullname", data-halign="center") ФИО
                            th(data-field="birthday", data-halign="center") ДР
        #pupils-detail.panel.panel-default.col-lg-6
            .panel-body
                p Дали будэ
        #pupils-edit-panel.panel.panel-default.col-lg-6.hidden
            .panel-body
                form(id="pupils-edit-form", class="form-horizontal")
                    fieldset
                        legend Ученик
                        .form-group
                            label(for="inputLastName", class="col-lg-2 control-label") Фамилия
                            .col-lg-4
                                input(
                                    type="text"
                                    class="form-control"
                                    id="inputLastName"
                                    placeholder="Фамилия"
                                    autocomplete="off"
                                    style="cursor: auto"
                                    tabindex="1"
                                )
                            label(for="inputBirthday", class="col-lg-2 control-label") Дата рождения
                            .col-lg-4
                                input(
                                    type="date"
                                    class="form-control"
                                    id="inputBirthday"
                                    placeholder="Дата рождения"
                                    autocomplete="off"
                                    style="cursor: auto"
                                    tabindex="4"
                                )
                        .form-group
                            label(for="inputFirstName", class="col-lg-2 control-label") Имя
                            .col-lg-4
                                input(
                                    type="text"
                                    class="form-control"
                                    id="inputFirstName"
                                    placeholder="Имя"
                                    autocomplete="off"
                                    style="cursor: auto"
                                    tabindex="2"
                                )
                            label(for="inputGender", class="col-lg-2 control-label") Пол
                            .col-lg-4
                                select(
                                    class="form-control"
                                    id="inputGender"
                                    placeholder="Пол"
                                    tabindex="5"
                                )
                                    option
                                    option Мужской
                                    option Женский
                        .form-group
                            label(for="inputMiddleName", class="col-lg-2 control-label") Отчество
                            .col-lg-4
                                input(
                                    type="text"
                                    class="form-control"
                                    id="inputMiddleName"
                                    placeholder="Отчество"
                                    autocomplete="off"
                                    tabindex="3"
                                )
                            label(for="inputImail", class="col-lg-2 control-label") E-mail
                            .col-lg-4
                                input(
                                    type="email"
                                    class="form-control"
                                    id="inputImail"
                                    placeholder="E-mail"
                                    tabindex="6"
                                )
                        .form-group
                            .col-lg-12
                                label(class="control-label") Адреса
                            .col-lg-12
                                .input-group
                                    span( class="input-group-addon" aria-hidden="true")
                                        span( class="glyphicon glyphicon-home" aria-hidden="true")
                                    input(
                                        type="text"
                                        class="form-control"
                                        id="inputLiveAddress"
                                        placeholder="Адрес проживания"
                                        autocomplete="off"
                                        tabindex="7"
                                    )
                            .col-lg-12
                                .input-group
                                    span( class="input-group-addon")
                                        span( class="glyphicon glyphicon-link")
                                    input(
                                        type="text"
                                        class="form-control"
                                        id="inputRegAddress"
                                        placeholder="Адрес регистрации"
                                        autocomplete="off"
                                        tabindex="8"
                                    )
                        .form-group
                            .col-lg-12
                                label(class="control-label") Телефон
                            .col-lg-6
                                .input-group
                                    span( class="input-group-addon" aria-hidden="true")
                                        span( class="glyphicon glyphicon-phone-alt")
                                    input(
                                    type="tel"
                                    class="form-control phone-mask"
                                    id="inputHomePhone"
                                    placeholder="Домашний"
                                    autocomplete="off"
                                    tabindex="9"
                                    )
                            .col-lg-6
                                .input-group
                                    span( class="input-group-addon")
                                        span( class="glyphicon glyphicon-phone")
                                    input(
                                    type="tel"
                                    class="form-control phone-mask"
                                    id="inputCellPhone"
                                    placeholder="Мобильный"
                                    autocomplete="off"
                                    tabindex="10"
                                    )
                        .form-group
                            label(class="col-lg-4 control-label" style="text-align: left;") Период обучения
                            .col-lg-4
                                input(
                                type="date"
                                class="form-control"
                                id="inputStudyFrom"
                                placeholder="с"
                                autocomplete="off"
                                style="cursor: auto"
                                tabindex="11"
                                )
                            .col-lg-4
                                input(
                                type="date"
                                class="form-control"
                                id="inputStudyTo"
                                placeholder="по"
                                autocomplete="off"
                                style="cursor: auto"
                                tabindex="12"
                                )
                    fieldset
                        legend(data-toggle="collapse" data-target="#mather-inputs") Мама
                            //a(data-toggle="collapse" data-target="#mather-inputs" href="#") Мама
                        #mather-inputs.container-fluid.collapse.in
                            .form-group
                                .col-lg-12
                                    label(class="control-label") Телефон
                                .col-lg-6
                                    .input-group
                                        span( class="input-group-addon" aria-hidden="true")
                                            span( class="glyphicon glyphicon-phone-alt")
                                        input(
                                        type="tel"
                                        class="form-control phone-mask"
                                        id="inputMWorkHomePhone"
                                        placeholder="Домашний"
                                        autocomplete="off"
                                        tabindex="9"
                                        )
                                .col-lg-6
                                    .input-group
                                        span( class="input-group-addon")
                                            span( class="glyphicon glyphicon-phone")
                                        input(
                                        type="tel"
                                        class="form-control phone-mask"
                                        id="inputMCellPhone"
                                        placeholder="Мобильный"
                                        autocomplete="off"
                                        tabindex="10"
                                        )
                    fieldset
                        legend Папа

        .form-group
                            .col-lg-12
                                button(type="reset" class="btn btn-default pull-right") Отмена
                                button(class="btn btn-primary pull-right", id="pupil-add-do-button") Добавить
    .row
        a(href='#', class="btn btn-default", id="pupil-add-button") Добавить ученика
