extends layout
include ./mixins/form-mixins.jade

block content
    #pupils-container.container-fluid.page-container
        .row
            .jumbotron
                h1 Наши ученики
                p Список учеников и их родителей
        .row
            .panel.panel-default.col-lg-6
                .panel-body
                    .row
                        table(
                        id="pupils-table",
                        data-toggle="table",
                        data-url="/pupils/shortlist",
                        data-click-to-select="true",
                        data-single-select="true"
                        data-id-field="rn")
                            thead
                                tr
                                    th(data-field="state" data-checkbox="true")
                                    th(data-field="rowno", data-halign="center") №
                                    th(data-field="shortName", data-halign="center") ФИО
                                    th(data-field="birthday", data-halign="center", data-formatter="d2s") ДР
                    .row(style="margin-top:15px")
                        a#pupil-add-button.btn.btn-default(href='#') Добавить ученика
            include ./pupils-edit.jade
            .col-lg-6
                #pupils-detail.panel.panel-default(data-spy="affix" data-offset-top="373" data-offset-bottom="0")
                    include ./pupils-info.jade


